{{#each items}} {{! Each item is an "li" }}
<li>
    {{name}}
    {{#if items}} {{! Within the context of the current item }}
    <ul>
    {{> list}} {{! Recursively render the partial }}
    </ul>
    {{/if}}
</li>
{{/each}}
